<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <form>
        <input type="text" name="title" id="title">
        <input type="text" name="content" id="content">
        <input type="file" id="fileInput" multiple>
        <button type="submit">submit</button>
    </form>

    <script>
        document.querySelector('button').addEventListener('click', function(e) {
            e.preventDefault();
            console.log('hi');
            let title = document.getElementById("title").value;
            let content = document.getElementById("content").value;
            let files = document.getElementById("fileInput").files
            console.log("files: ", files);
            let formData = new FormData();
            formData.append("title", title);
            formData.append("content", files);
            for (file of files) {
                formData.append("fileList", file);
            }
            console.log("get value from formData: ", formData.get('fileList'))
            $.ajax({
                url: "localhost:5000/files",
                method: "POST",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                error: function() {

                },
                success: function() {
                    
                }
            });
        });
    </script>
</body>
</html>